:root{
    --main-color: #44BBA4;
    --secondary-color: #E7BB41;
    --tertiary-color: #EF1726;
    --main-white: #E7E5DF;
    --main-grey: #D3D0CB;
    --main-black: #393E41;
    --main-bg: #a5a5a5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background: var(--main-white);
}

a{
    text-decoration: none;
    color: var(--main-black);
    font-weight: bold;
    padding-left: .5rem;
    padding-bottom: .5rem;
}

.container{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
}

.box-padding{
    padding: 3rem;
}

.box-padding2{
    padding: 0 1rem;
}

p{
    padding: 1rem 0;
}

small{
    color: var(--secondary-color);
}

.btn{
    outline: none;
    border: 2px solid var(--main-white);
    font-size: 1rem;
    padding: .5rem 1rem;
    background: none;
    color: var(--main-white);
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
}

.btn:hover{
    background: var(--main-white);
    color: var(--main-black);
}

/* NAV */
#nav{
    background: var(--main-white);
    z-index: 40;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--main-black);
}

#logo{
    font-weight: 700;
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.main-nav{
    list-style-type: none;
    display: none;
    text-align: left;
    padding: .5rem;
}

.main-nav li{
    padding: .3rem;
}

/* HEADER */
#header{
    position: relative;
    color: var(--main-white);
    background: var(--main-color);
}

#header-img, .box-img{
    height: 100vh;
}

.box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ABOUT */
#about-content{
    align-self: center;
}

.progress-bar{
    width: 100%;
    background: var(--main-grey);
}

.progress{
    height: .2rem;
    background: var(--main-color);
    margin: .5rem 0;
    padding: .2rem 0;
}

.skill-content{
    padding: .5rem 0;
}

#skills-content{
    background: var(--secondary-color);
}

/* SERVICES */
.skill-box{
    text-align: center;
}

#design{
    background: var(--secondary-color);
    color: white;
}

#media{
    background: var(--tertiary-color);
    color: white;
}

#mobile{
    background: var(--main-black);
    color: white;
}

/* EXPERIENCE & EDUCATION */
#experience{
    background: var(--tertiary-color);
    color: white;
}

#exp{    
    align-self: center;
    justify-self: center;
}

#education{
    background: var(--main-color);
    color: white;
}

#edu{
    align-self: center;
    justify-self: center;
}

/* CONTACT & FORM */
#contact .container{
    background: var(--main-black);
    color: white;
}

#form{
    background: var(--secondary-color);
    color: white;
}

form input, textarea{
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--main-bg);
    padding: .5rem;
    margin: 1rem 0;
    font-size: .9rem;
    outline: none;
    width: 100%;
    resize: none;
}

form input::placeholder, textarea::placeholder{
    color: var(--main-white);
}

form input:active, input:focus, textarea:active, textarea:focus{
    border-bottom: 1px solid var(--main-white);
}

form .btn{
    width: 100%;
}

.flex{
    display: flex;
    align-items: center;
}

.flex span{
    padding-right: 1rem;
}

#contact .container .box-big .box-mini{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    justify-content: center;
}

/* FOOTER */
#footer .container p{
    text-align: center;
    font-size: .8rem;
    font-weight: 400;
}

.box-links{
   text-align: center;
}

.box-links a{
    padding: .3rem;
    font-size: 2rem;
}

/* ACTIVE */
.active{
    display: block;
}

@media only screen and (min-width: 600px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }

    #contact .container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #header-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #about-content{
        grid-column: auto / span 2;
    }
    
    .skill-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box-img{
        height: 100%;
    }

    #office{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 1024px){
    .container{
        grid-template-columns: repeat(4, 1fr);
    }

    #header .container{
        grid-template-columns: repeat(2, 1fr);
    }

    #contact .container{
        grid-template-columns: 2fr 1fr 1fr;
    }

    #education .container{
        grid-template-columns: repeat(2, 1fr);
    }

    #experience .container{
        grid-template-columns: repeat(2, 1fr);
    }

    #footer .container{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}